<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="extractorType_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="extractorType" type="xstring" value="Readability"/>
<config key="inputColumn_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="inputColumn" type="xstring" value="Document"/>
<config key="removeDocumentColumn_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="removeDocumentColumn" type="xboolean" value="false"/>
<config key="outputColumnPrefix_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="outputColumnPrefix" type="xstring" value="Extracted: "/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="ws.palladian.nodes.extraction.content2.ContentExtractor2NodeFactory"/>
<entry key="node-name" type="xstring" value="Web Page Content Extractor"/>
<entry key="node-bundle-name" type="xstring" value="Palladian for KNIME"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="ws.palladian.nodes"/>
<entry key="node-bundle-vendor" type="xstring" value="palladian.ws; Philipp Katz, Klemens Muthmann, David Urbansky"/>
<entry key="node-bundle-version" type="xstring" value="2.1.0.202005101841"/>
<entry key="node-feature-name" type="xstring" value="Palladian for KNIME"/>
<entry key="node-feature-symbolic-name" type="xstring" value="ws.palladian.nodes.feature.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="palladian.ws; Philipp Katz, Klemens Muthmann, David Urbansky"/>
<entry key="node-feature-version" type="xstring" value="2.1.0.202005101841"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Web Page Content Extractor"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 1082, Cols: 47"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="e5c18e26-f897-4653-8808-ff852e14209b"/>
</config>
</config>
