<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="FILE_CHOOSER_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_FileChooserGen2"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<config key="FILE_CHOOSER">
<entry key="filesystem" type="xstring" value=""/>
<entry key="knime_filesystem" type="xstring" value="knime.workflow"/>
<entry key="knime_mountpoint_filesystem" type="xstring" isnull="true" value=""/>
<entry key="path_or_url" type="xstring" value="C:\Users\clyde\OneDrive\Documents\field types.xlsx"/>
<entry key="include_subfolders" type="xboolean" value="false"/>
<entry key="filter_files_extension" type="xboolean" value="true"/>
<entry key="filter_expression_extension" type="xstring" value="xlsx;xls"/>
<entry key="filter_case_sensitive_extension" type="xboolean" value="false"/>
<entry key="filter_files_name" type="xboolean" value="false"/>
<entry key="filter_expression_name" type="xstring" value="*"/>
<entry key="filter_case_sensitive_name" type="xboolean" value="false"/>
<entry key="filter_mode" type="xstring" value="WILDCARD"/>
<entry key="filter_hidden_files" type="xboolean" value="true"/>
</config>
<config key="fileOrFolderModel_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="fileOrFolderModel" type="xstring" value="FILE"/>
<entry key="xCellOffset" type="xint" value="0"/>
<entry key="yCellOffset" type="xint" value="0"/>
<entry key="writeColHdr" type="xboolean" value="false"/>
<entry key="writeRowHdr" type="xboolean" value="false"/>
<entry key="sheetname" type="xstring" value="default"/>
<entry key="missingPattern" type="xstring" value=""/>
<entry key="overwrite_ok" type="xboolean" value="false"/>
<entry key="open_file" type="xboolean" value="false"/>
<entry key="file_must_exist" type="xboolean" value="false"/>
<entry key="do_not_overwrite_sheet" type="xboolean" value="false"/>
<entry key="landscape" type="xboolean" value="false"/>
<entry key="autosize" type="xboolean" value="false"/>
<entry key="paper_size" type="xshort" value="1"/>
<entry key="write_missing_values" type="xboolean" value="false"/>
<entry key="evaluate_formula" type="xboolean" value="false"/>
<config key="xlswriter2">
<entry key="filter-type" type="xstring" value="STANDARD"/>
<config key="included_names">
<entry key="array-size" type="xint" value="1"/>
<entry key="0" type="xstring" value="arrayItems"/>
</config>
<config key="excluded_names">
<entry key="array-size" type="xint" value="0"/>
</config>
<entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
<config key="name_pattern">
<entry key="pattern" type="xstring" value=""/>
<entry key="type" type="xstring" value="Wildcard"/>
<entry key="caseSensitive" type="xboolean" value="true"/>
</config>
<config key="datatype">
<config key="typelist">
<entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
</config>
</config>
</config>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="org.knime.ext.poi2.node.write3.XLSWriter2NodeFactory"/>
<entry key="node-name" type="xstring" value="Excel Writer (XLS)"/>
<entry key="node-bundle-name" type="xstring" value="KNIME POI (xls/xlsx) Plug-in"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.ext.poi2"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="4.1.2.v202003032314"/>
<entry key="node-feature-name" type="xstring" value="KNIME Excel Support"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.ext.poi.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="4.1.2.v202003032314"/>
<config key="factory_settings"/>
<config key="node_creation_config">
<config key="Data table"/>
<config key="File system connection"/>
</config>
<entry key="name" type="xstring" value="Excel Writer (XLS)"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports"/>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="69d5f85d-d33a-41e2-801b-87371148c589"/>
</config>
</config>
