<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="column-filter">
<entry key="filter-type" type="xstring" value="STANDARD"/>
<config key="included_names">
<entry key="array-size" type="xint" value="31"/>
<entry key="0" type="xstring" value="bibjson.end_page"/>
<entry key="1" type="xstring" value="bibjson.year"/>
<entry key="2" type="xstring" value="bibjson.journal.volume"/>
<entry key="3" type="xstring" value="bibjson.journal.number"/>
<entry key="4" type="xstring" value="bibjson.month"/>
<entry key="5" type="xstring" value="bibjson.start_page"/>
<entry key="6" type="xstring" value="id"/>
<entry key="7" type="xstring" value="last_updated"/>
<entry key="8" type="xstring" value="bibjson.identifier.id"/>
<entry key="9" type="xstring" value="bibjson.identifier.type"/>
<entry key="10" type="xstring" value="bibjson.keywords"/>
<entry key="11" type="xstring" value="bibjson.subject.code"/>
<entry key="12" type="xstring" value="bibjson.subject.scheme"/>
<entry key="13" type="xstring" value="bibjson.subject.term"/>
<entry key="14" type="xstring" value="bibjson.author.name"/>
<entry key="15" type="xstring" value="bibjson.link.content_type"/>
<entry key="16" type="xstring" value="bibjson.link.type"/>
<entry key="17" type="xstring" value="bibjson.link.url"/>
<entry key="18" type="xstring" value="bibjson.abstract"/>
<entry key="19" type="xstring" value="bibjson.title"/>
<entry key="20" type="xstring" value="bibjson.journal.country"/>
<entry key="21" type="xstring" value="bibjson.journal.license.title"/>
<entry key="22" type="xstring" value="bibjson.journal.license.type"/>
<entry key="23" type="xstring" value="bibjson.journal.license.url"/>
<entry key="24" type="xstring" value="bibjson.journal.issns"/>
<entry key="25" type="xstring" value="bibjson.journal.publisher"/>
<entry key="26" type="xstring" value="bibjson.journal.language"/>
<entry key="27" type="xstring" value="bibjson.journal.title"/>
<entry key="28" type="xstring" value="created_date"/>
<entry key="29" type="xstring" value="bibjson.author.affiliation"/>
<entry key="30" type="xstring" value="bibjson.author.orcid_id"/>
</config>
<config key="excluded_names">
<entry key="array-size" type="xint" value="0"/>
</config>
<entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
<config key="name_pattern">
<entry key="pattern" type="xstring" value=""/>
<entry key="type" type="xstring" value="Wildcard"/>
<entry key="caseSensitive" type="xboolean" value="true"/>
</config>
<config key="datatype">
<config key="typelist">
<entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
</config>
</config>
</config>
<entry key="dateFormat" type="xstring" value="yyyy-MM-dd'T'HH:mm:ss'Z'"/>
<entry key="missingValuePattern" type="xstring" value="&lt;empty&gt;"/>
<entry key="doAQuickScan" type="xboolean" value="true"/>
<entry key="numberOfRowsForQuickScan" type="xint" value="1000"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="org.knime.base.node.preproc.colautotypecast.ColumnAutoTypeCasterNodeFactory"/>
<entry key="node-name" type="xstring" value="Column Auto Type Cast"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="4.1.3.v202005112252"/>
<entry key="node-feature-name" type="xstring" value="KNIME Core"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="4.1.3.v202005121100"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Column Auto Type Cast"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 573, Cols: 34"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
<config key="port_2">
<entry key="index" type="xint" value="2"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 31, Cols: 3"/>
<entry key="port_dir_location" type="xstring" value="port_2"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="ca908240-c711-47a6-b9e4-c87de5cf1314"/>
</config>
</config>
