
.DS_Store
#.gitignore
.project
.classpath

## KNIME files
.knimeLock
.project
.savedWithData
workflowset.meta

## KNIME directories containing node data
internal/
port_*/
.metadata/
internalTables/

## junk files
*coccurrence.csv
*co-occurrence.csv
Example Workflows