<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<entry key="hideInWizard" type="xboolean" value="false"/>
<entry key="generateImage" type="xboolean" value="true"/>
<entry key="warningsInView" type="xboolean" value="true"/>
<entry key="reportMissingValues" type="xboolean" value="true"/>
<entry key="resizeToWindow" type="xboolean" value="true"/>
<entry key="imageWidth" type="xint" value="800"/>
<entry key="imageHeight" type="xint" value="600"/>
<entry key="maxWords" type="xint" value="250"/>
<entry key="aggregateWords" type="xboolean" value="true"/>
<entry key="ignoreTermTags" type="xboolean" value="true"/>
<entry key="displayFullscreenButton" type="xboolean" value="true"/>
<entry key="displayRefreshButton" type="xboolean" value="true"/>
<entry key="displayClearSelectionButton" type="xboolean" value="true"/>
<entry key="disableAnimations" type="xboolean" value="false"/>
<entry key="title" type="xstring" value=""/>
<entry key="subtitle" type="xstring" value=""/>
<entry key="wordColumn" type="xstring" value="Term"/>
<entry key="sizeColumn" type="xstring" value="Aggregated TF"/>
<entry key="sizeProp" type="xboolean" value="false"/>
<entry key="colorProp" type="xboolean" value="false"/>
<entry key="font" type="xstring" value="Impact"/>
<entry key="minFontSize" type="xfloat" value="10.0"/>
<entry key="maxFontSize" type="xfloat" value="100.0"/>
<entry key="fontScaleType" type="xstring" value="linear"/>
<entry key="fontBold" type="xboolean" value="false"/>
<entry key="spiralType" type="xstring" value="archimedean"/>
<entry key="numOrientations" type="xint" value="10"/>
<entry key="startAngle" type="xint" value="-30"/>
<entry key="endAngle" type="xint" value="30"/>
<entry key="enableViewConfiguration" type="xboolean" value="true"/>
<entry key="enableTitleChange" type="xboolean" value="true"/>
<entry key="enableSubtitleChange" type="xboolean" value="true"/>
<entry key="enableFontSizeChange" type="xboolean" value="true"/>
<entry key="enableScaleTypeChange" type="xboolean" value="true"/>
<entry key="enableSpiralTypeChange" type="xboolean" value="true"/>
<entry key="enableNumOrientationsChange" type="xboolean" value="true"/>
<entry key="enableAnglesChange" type="xboolean" value="true"/>
<entry key="enableSelection" type="xboolean" value="true"/>
<entry key="selectionColumnName" type="xstring" value="Selected (JavaScript Tag Cloud)"/>
<entry key="selectionColor" type="xstring" value="#333333"/>
<entry key="publishSelection" type="xboolean" value="true"/>
<entry key="subscribeSelection" type="xboolean" value="true"/>
<entry key="enableShowSelectedOnly" type="xboolean" value="true"/>
<entry key="defaultShowSelectedOnly" type="xboolean" value="false"/>
<entry key="subscribeFilter" type="xboolean" value="true"/>
<entry key="customCSS" type="xstring" value=""/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="IDLE"/>
<entry key="factory" type="xstring" value="org.knime.js.base.node.viz.tagcloud.TagCloudViewNodeFactory"/>
<entry key="node-name" type="xstring" value="Tag Cloud"/>
<entry key="node-bundle-name" type="xstring" value="KNIME JavaScript Base Views"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.js.views"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="4.1.2.v202003032007"/>
<entry key="node-feature-name" type="xstring" value="KNIME JavaScript Views"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.js.views.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="4.1.2.v202003032007"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Tag Cloud"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
<config key="port_2">
<entry key="index" type="xint" value="2"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
