<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="include_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_filterString"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<config key="include">
<config key="InclList">
<entry key="array-size" type="xint" value="1"/>
<entry key="0" type="xstring" value="arrayItems"/>
</config>
<config key="ExclList">
<entry key="array-size" type="xint" value="3"/>
<entry key="0" type="xstring" value="xml"/>
<entry key="1" type="xstring" value="p1"/>
<entry key="2" type="xstring" value="p2"/>
</config>
<entry key="keep_all_columns_selected" type="xboolean" value="false"/>
</config>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<config key="nodecontainer_message">
<entry key="type" type="xstring" value="WARNING"/>
<entry key="message" type="xstring" value="Problems occurred, see Console messages.%%00010"/>
</config>
<entry key="factory" type="xstring" value="org.knime.xml.node.stringtoxml.StringToXMLNodeFactory"/>
<entry key="node-name" type="xstring" value="String To XML"/>
<entry key="node-bundle-name" type="xstring" value="KNIME XML"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.xml"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="4.1.0.v201911110941"/>
<entry key="node-feature-name" type="xstring" value="KNIME XML-Processing"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.xml.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="4.1.0.v201911110941"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="String To XML"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 32, Cols: 4"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="a0b18e7c-66fa-44c3-ba30-ac4b949e71c7"/>
</config>
</config>
