<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<entry key="inputColumn" type="xstring" value="xml"/>
<entry key="removeInputColumn" type="xboolean" value="false"/>
<config key="nsPrefixes">
<entry key="array-size" type="xint" value="0"/>
</config>
<config key="namespaces">
<entry key="array-size" type="xint" value="0"/>
</config>
<entry key="useRootsNameSpace" type="xboolean" value="false"/>
<entry key="rootsNameSpacePrefix" type="xstring" value="dns"/>
<entry key="numberOfQueries" type="xint" value="2"/>
<entry key="newColumn0" type="xstring" value="p1"/>
<entry key="useAttributeForColName0" type="xboolean" value="false"/>
<entry key="attributeForColName0" type="xstring" value="name"/>
<entry key="xpath0" type="xstring" value="/tbody/tr/td[1]/p"/>
<entry key="returnType0" type="xstring" value="String"/>
<entry key="missingCellOnEmptySet0" type="xboolean" value="true"/>
<entry key="missingCellOnEmptyString0" type="xboolean" value="false"/>
<entry key="valueOnInfinityOrNaN0" type="xboolean" value="false"/>
<entry key="missingCellOnInfinityNaN0" type="xboolean" value="true"/>
<entry key="defaultNumber0" type="xint" value="0"/>
<entry key="xmlFragmentName0" type="xstring" value="fragment"/>
<entry key="multiTagOption0" type="xstring" value="UngroupToRows"/>
<entry key="newColumn1" type="xstring" value="p2"/>
<entry key="useAttributeForColName1" type="xboolean" value="false"/>
<entry key="attributeForColName1" type="xstring" value="name"/>
<entry key="xpath1" type="xstring" value="/tbody/tr/td[2]/p"/>
<entry key="returnType1" type="xstring" value="String"/>
<entry key="missingCellOnEmptySet1" type="xboolean" value="true"/>
<entry key="missingCellOnEmptyString1" type="xboolean" value="false"/>
<entry key="valueOnInfinityOrNaN1" type="xboolean" value="false"/>
<entry key="missingCellOnInfinityNaN1" type="xboolean" value="true"/>
<entry key="defaultNumber1" type="xint" value="0"/>
<entry key="xmlFragmentName1" type="xstring" value="fragment"/>
<entry key="multiTagOption1" type="xstring" value="UngroupToRows"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="org.knime.xml.node.xpath2.XPathNodeFactory"/>
<entry key="node-name" type="xstring" value="XPath"/>
<entry key="node-bundle-name" type="xstring" value="KNIME XML"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.xml"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="4.1.0.v201911110941"/>
<entry key="node-feature-name" type="xstring" value="KNIME XML-Processing"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.xml.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="4.1.0.v201911110941"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="XPath"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 32, Cols: 3"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="0807eae8-4088-4e8f-acc4-07d361ad2273"/>
</config>
</config>
