<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="input_columns_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_filterString"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<config key="input_columns">
<config key="InclList">
<entry key="array-size" type="xint" value="365"/>
<entry key="0" type="xstring" value="australia"/>
<entry key="1" type="xstring" value="match"/>
<entry key="2" type="xstring" value="player"/>
<entry key="3" type="xstring" value="play"/>
<entry key="4" type="xstring" value="africa"/>
<entry key="5" type="xstring" value="cup"/>
<entry key="6" type="xstring" value="nations"/>
<entry key="7" type="xstring" value="reign"/>
<entry key="8" type="xstring" value="champion"/>
<entry key="9" type="xstring" value="gabon"/>
<entry key="10" type="xstring" value="falcons"/>
<entry key="11" type="xstring" value="continue"/>
<entry key="12" type="xstring" value="reading"/>
<entry key="13" type="xstring" value="nation"/>
<entry key="14" type="xstring" value="miss"/>
<entry key="15" type="xstring" value="win"/>
<entry key="16" type="xstring" value="world"/>
<entry key="17" type="xstring" value="record"/>
<entry key="18" type="xstring" value="five"/>
<entry key="19" type="xstring" value="time"/>
<entry key="20" type="xstring" value="host"/>
<entry key="21" type="xstring" value="seven"/>
<entry key="22" type="xstring" value="fall"/>
<entry key="23" type="xstring" value="sport"/>
<entry key="24" type="xstring" value="break"/>
<entry key="25" type="xstring" value="bring"/>
<entry key="26" type="xstring" value="international"/>
<entry key="27" type="xstring" value="watch"/>
<entry key="28" type="xstring" value="home"/>
<entry key="29" type="xstring" value="country"/>
<entry key="30" type="xstring" value="football"/>
<entry key="31" type="xstring" value="fan"/>
<entry key="32" type="xstring" value="tournament"/>
<entry key="33" type="xstring" value="suggest"/>
<entry key="34" type="xstring" value="goal"/>
<entry key="35" type="xstring" value="championship"/>
<entry key="36" type="xstring" value="game"/>
<entry key="37" type="xstring" value="super"/>
<entry key="38" type="xstring" value="bowl"/>
<entry key="39" type="xstring" value="seek"/>
<entry key="40" type="xstring" value="defend"/>
<entry key="41" type="xstring" value="lead"/>
<entry key="42" type="xstring" value="eye"/>
<entry key="43" type="xstring" value="remain"/>
<entry key="44" type="xstring" value="sunday"/>
<entry key="45" type="xstring" value="gmt"/>
<entry key="46" type="xstring" value="england"/>
<entry key="47" type="xstring" value="patriots"/>
<entry key="48" type="xstring" value="chance"/>
<entry key="49" type="xstring" value="meet"/>
<entry key="50" type="xstring" value="final"/>
<entry key="51" type="xstring" value="tuesday"/>
<entry key="52" type="xstring" value="washington"/>
<entry key="53" type="xstring" value="administration"/>
<entry key="54" type="xstring" value="set"/>
<entry key="55" type="xstring" value="score"/>
<entry key="56" type="xstring" value="penalty"/>
<entry key="57" type="xstring" value="arsenal"/>
<entry key="58" type="xstring" value="chelsea"/>
<entry key="59" type="xstring" value="weekend"/>
<entry key="60" type="xstring" value="victory"/>
<entry key="61" type="xstring" value="charge"/>
<entry key="62" type="xstring" value="send"/>
<entry key="63" type="xstring" value="crowd"/>
<entry key="64" type="xstring" value="run"/>
<entry key="65" type="xstring" value="bit"/>
<entry key="66" type="xstring" value="minute"/>
<entry key="67" type="xstring" value="award"/>
<entry key="68" type="xstring" value="feel"/>
<entry key="69" type="xstring" value="round"/>
<entry key="70" type="xstring" value="fight"/>
<entry key="71" type="xstring" value="life"/>
<entry key="72" type="xstring" value="tell"/>
<entry key="73" type="xstring" value="it’s"/>
<entry key="74" type="xstring" value="manager"/>
<entry key="75" type="xstring" value="alternative"/>
<entry key="76" type="xstring" value="trump"/>
<entry key="77" type="xstring" value="inauguration"/>
<entry key="78" type="xstring" value="lot"/>
<entry key="79" type="xstring" value="donald"/>
<entry key="80" type="xstring" value="trump’s"/>
<entry key="81" type="xstring" value="american"/>
<entry key="82" type="xstring" value="shadow"/>
<entry key="83" type="xstring" value="day"/>
<entry key="84" type="xstring" value="speech"/>
<entry key="85" type="xstring" value="president"/>
<entry key="86" type="xstring" value="offer"/>
<entry key="87" type="xstring" value="city"/>
<entry key="88" type="xstring" value="political"/>
<entry key="89" type="xstring" value="control"/>
<entry key="90" type="xstring" value="pledge"/>
<entry key="91" type="xstring" value="hold"/>
<entry key="92" type="xstring" value="power"/>
<entry key="93" type="xstring" value="barack"/>
<entry key="94" type="xstring" value="obama"/>
<entry key="95" type="xstring" value="change"/>
<entry key="96" type="xstring" value="united"/>
<entry key="97" type="xstring" value="image"/>
<entry key="98" type="xstring" value="people"/>
<entry key="99" type="xstring" value="andy"/>
<entry key="100" type="xstring" value="include"/>
<entry key="101" type="xstring" value="tie"/>
<entry key="102" type="xstring" value="expect"/>
<entry key="103" type="xstring" value="team"/>
<entry key="104" type="xstring" value="week"/>
<entry key="105" type="xstring" value="late"/>
<entry key="106" type="xstring" value="follow"/>
<entry key="107" type="xstring" value="park"/>
<entry key="108" type="xstring" value="australian"/>
<entry key="109" type="xstring" value="loss"/>
<entry key="110" type="xstring" value="highlight"/>
<entry key="111" type="xstring" value="shock"/>
<entry key="112" type="xstring" value="defeat"/>
<entry key="113" type="xstring" value="fourth"/>
<entry key="114" type="xstring" value="blow"/>
<entry key="115" type="xstring" value="white"/>
<entry key="116" type="xstring" value="house"/>
<entry key="117" type="xstring" value="republican"/>
<entry key="118" type="xstring" value="star"/>
<entry key="119" type="xstring" value="women’s"/>
<entry key="120" type="xstring" value="former"/>
<entry key="121" type="xstring" value="march"/>
<entry key="122" type="xstring" value="speak"/>
<entry key="123" type="xstring" value="write"/>
<entry key="124" type="xstring" value="look"/>
<entry key="125" type="xstring" value="result"/>
<entry key="126" type="xstring" value="ban"/>
<entry key="127" type="xstring" value="push"/>
<entry key="128" type="xstring" value="receive"/>
<entry key="129" type="xstring" value="official"/>
<entry key="130" type="xstring" value="towards"/>
<entry key="131" type="xstring" value="decision"/>
<entry key="132" type="xstring" value="try"/>
<entry key="133" type="xstring" value="allow"/>
<entry key="134" type="xstring" value="move"/>
<entry key="135" type="xstring" value="league"/>
<entry key="136" type="xstring" value="leader"/>
<entry key="137" type="xstring" value="deal"/>
<entry key="138" type="xstring" value="hope"/>
<entry key="139" type="xstring" value="month"/>
<entry key="140" type="xstring" value="premier"/>
<entry key="141" type="xstring" value="act"/>
<entry key="142" type="xstring" value="season"/>
<entry key="143" type="xstring" value="feature"/>
<entry key="144" type="xstring" value="friday"/>
<entry key="145" type="xstring" value="leave"/>
<entry key="146" type="xstring" value="guide"/>
<entry key="147" type="xstring" value="labour"/>
<entry key="148" type="xstring" value="conference"/>
<entry key="149" type="xstring" value="party"/>
<entry key="150" type="xstring" value="jones"/>
<entry key="151" type="xstring" value="beat"/>
<entry key="152" type="xstring" value="reach"/>
<entry key="153" type="xstring" value="eight"/>
<entry key="154" type="xstring" value="johanna"/>
<entry key="155" type="xstring" value="konta"/>
<entry key="156" type="xstring" value="quarter-final"/>
<entry key="157" type="xstring" value="serena"/>
<entry key="158" type="xstring" value="williams"/>
<entry key="159" type="xstring" value="video"/>
<entry key="160" type="xstring" value="melbourne"/>
<entry key="161" type="xstring" value="monday"/>
<entry key="162" type="xstring" value="russian"/>
<entry key="163" type="xstring" value="straight"/>
<entry key="164" type="xstring" value="british"/>
<entry key="165" type="xstring" value="roger"/>
<entry key="166" type="xstring" value="federer"/>
<entry key="167" type="xstring" value="live"/>
<entry key="168" type="xstring" value="john"/>
<entry key="169" type="xstring" value="tweet"/>
<entry key="170" type="xstring" value="third"/>
<entry key="171" type="xstring" value="serve"/>
<entry key="172" type="xstring" value="moment"/>
<entry key="173" type="xstring" value="picture"/>
<entry key="174" type="xstring" value="tennis"/>
<entry key="175" type="xstring" value="action"/>
<entry key="176" type="xstring" value="debut"/>
<entry key="177" type="xstring" value="progress"/>
<entry key="178" type="xstring" value="lose"/>
<entry key="179" type="xstring" value="6-4"/>
<entry key="180" type="xstring" value="venus"/>
<entry key="181" type="xstring" value="major"/>
<entry key="182" type="xstring" value="title"/>
<entry key="183" type="xstring" value="david"/>
<entry key="184" type="xstring" value="six"/>
<entry key="185" type="xstring" value="stadium"/>
<entry key="186" type="xstring" value="chief"/>
<entry key="187" type="xstring" value="executive"/>
<entry key="188" type="xstring" value="reveal"/>
<entry key="189" type="xstring" value="bernie"/>
<entry key="190" type="xstring" value="ecclestone"/>
<entry key="191" type="xstring" value="replace"/>
<entry key="192" type="xstring" value="formula"/>
<entry key="193" type="xstring" value="media"/>
<entry key="194" type="xstring" value="senator"/>
<entry key="195" type="xstring" value="democratic"/>
<entry key="196" type="xstring" value="call"/>
<entry key="197" type="xstring" value="support"/>
<entry key="198" type="xstring" value="trade"/>
<entry key="199" type="xstring" value="policy"/>
<entry key="200" type="xstring" value="concern"/>
<entry key="201" type="xstring" value="global"/>
<entry key="202" type="xstring" value="trans-pacific"/>
<entry key="203" type="xstring" value="partnership"/>
<entry key="204" type="xstring" value="election"/>
<entry key="205" type="xstring" value="campaign"/>
<entry key="206" type="xstring" value="relate"/>
<entry key="207" type="xstring" value="withdraw"/>
<entry key="208" type="xstring" value="amid"/>
<entry key="209" type="xstring" value="justice"/>
<entry key="210" type="xstring" value="interview"/>
<entry key="211" type="xstring" value="help"/>
<entry key="212" type="xstring" value="believe"/>
<entry key="213" type="xstring" value="michael"/>
<entry key="214" type="xstring" value="america"/>
<entry key="215" type="xstring" value="story"/>
<entry key="216" type="xstring" value="grand"/>
<entry key="217" type="xstring" value="describe"/>
<entry key="218" type="xstring" value="n’t"/>
<entry key="219" type="xstring" value="theresa"/>
<entry key="220" type="xstring" value="join"/>
<entry key="221" type="xstring" value="club"/>
<entry key="222" type="xstring" value="sign"/>
<entry key="223" type="xstring" value="transfer"/>
<entry key="224" type="xstring" value="window"/>
<entry key="225" type="xstring" value="january"/>
<entry key="226" type="xstring" value="top"/>
<entry key="227" type="xstring" value="brexit"/>
<entry key="228" type="xstring" value="business"/>
<entry key="229" type="xstring" value="vote"/>
<entry key="230" type="xstring" value="union"/>
<entry key="231" type="xstring" value="referendum"/>
<entry key="232" type="xstring" value="supreme"/>
<entry key="233" type="xstring" value="court"/>
<entry key="234" type="xstring" value="government"/>
<entry key="235" type="xstring" value="start"/>
<entry key="236" type="xstring" value="talk"/>
<entry key="237" type="xstring" value="pay"/>
<entry key="238" type="xstring" value="price"/>
<entry key="239" type="xstring" value="hard"/>
<entry key="240" type="xstring" value="protest"/>
<entry key="241" type="xstring" value="past"/>
<entry key="242" type="xstring" value="recent"/>
<entry key="243" type="xstring" value="appear"/>
<entry key="244" type="xstring" value="cabinet"/>
<entry key="245" type="xstring" value="test"/>
<entry key="246" type="xstring" value="question"/>
<entry key="247" type="xstring" value="fail"/>
<entry key="248" type="xstring" value="history"/>
<entry key="249" type="xstring" value="care"/>
<entry key="250" type="xstring" value="truth"/>
<entry key="251" type="xstring" value="news"/>
<entry key="252" type="xstring" value="lie"/>
<entry key="253" type="xstring" value="public"/>
<entry key="254" type="xstring" value="reason"/>
<entry key="255" type="xstring" value="prepare"/>
<entry key="256" type="xstring" value="confirm"/>
<entry key="257" type="xstring" value="saturday"/>
<entry key="258" type="xstring" value="night"/>
<entry key="259" type="xstring" value="performance"/>
<entry key="260" type="xstring" value="ahead"/>
<entry key="261" type="xstring" value="health"/>
<entry key="262" type="xstring" value="return"/>
<entry key="263" type="xstring" value="adviser"/>
<entry key="264" type="xstring" value="americans"/>
<entry key="265" type="xstring" value="claim"/>
<entry key="266" type="xstring" value="release"/>
<entry key="267" type="xstring" value="finish"/>
<entry key="268" type="xstring" value="2-2"/>
<entry key="269" type="xstring" value="draw"/>
<entry key="270" type="xstring" value="spurs"/>
<entry key="271" type="xstring" value="military"/>
<entry key="272" type="xstring" value="tottenham"/>
<entry key="273" type="xstring" value="pitch"/>
<entry key="274" type="xstring" value="career"/>
<entry key="275" type="xstring" value="figure"/>
<entry key="276" type="xstring" value="national"/>
<entry key="277" type="xstring" value="despite"/>
<entry key="278" type="xstring" value="manchester"/>
<entry key="279" type="xstring" value="line"/>
<entry key="280" type="xstring" value="defence"/>
<entry key="281" type="xstring" value="pep"/>
<entry key="282" type="xstring" value="stop"/>
<entry key="283" type="xstring" value="own"/>
<entry key="284" type="xstring" value="effort"/>
<entry key="285" type="xstring" value="pick"/>
<entry key="286" type="xstring" value="injury"/>
<entry key="287" type="xstring" value="coach"/>
<entry key="288" type="xstring" value="close"/>
<entry key="289" type="xstring" value="department"/>
<entry key="290" type="xstring" value="senate"/>
<entry key="291" type="xstring" value="light"/>
<entry key="292" type="xstring" value="social"/>
<entry key="293" type="xstring" value="begin"/>
<entry key="294" type="xstring" value="rise"/>
<entry key="295" type="xstring" value="briefing"/>
<entry key="296" type="xstring" value="front"/>
<entry key="297" type="xstring" value="key"/>
<entry key="298" type="xstring" value="ryan"/>
<entry key="299" type="xstring" value="england’s"/>
<entry key="300" type="xstring" value="carry"/>
<entry key="301" type="xstring" value="period"/>
<entry key="302" type="xstring" value="lower"/>
<entry key="303" type="xstring" value="course"/>
<entry key="304" type="xstring" value="complete"/>
<entry key="305" type="xstring" value="press"/>
<entry key="306" type="xstring" value="secretary"/>
<entry key="307" type="xstring" value="sean"/>
<entry key="308" type="xstring" value="spicer"/>
<entry key="309" type="xstring" value="office"/>
<entry key="310" type="xstring" value="million"/>
<entry key="311" type="xstring" value="legacy"/>
<entry key="312" type="xstring" value="hear"/>
<entry key="313" type="xstring" value="focus"/>
<entry key="314" type="xstring" value="stage"/>
<entry key="315" type="xstring" value="director"/>
<entry key="316" type="xstring" value="plan"/>
<entry key="317" type="xstring" value="position"/>
<entry key="318" type="xstring" value="tour"/>
<entry key="319" type="xstring" value="spend"/>
<entry key="320" type="xstring" value="meeting"/>
<entry key="321" type="xstring" value="accord"/>
<entry key="322" type="xstring" value="london"/>
<entry key="323" type="xstring" value="drive"/>
<entry key="324" type="xstring" value="promise"/>
<entry key="325" type="xstring" value="hit"/>
<entry key="326" type="xstring" value="list"/>
<entry key="327" type="xstring" value="challenge"/>
<entry key="328" type="xstring" value="report"/>
<entry key="329" type="xstring" value="rule"/>
<entry key="330" type="xstring" value="propose"/>
<entry key="331" type="xstring" value="head"/>
<entry key="332" type="xstring" value="abortion"/>
<entry key="333" type="xstring" value="funding"/>
<entry key="334" type="xstring" value="provide"/>
<entry key="335" type="xstring" value="decade"/>
<entry key="336" type="xstring" value="law"/>
<entry key="337" type="xstring" value="mike"/>
<entry key="338" type="xstring" value="bbc"/>
<entry key="339" type="xstring" value="obama’s"/>
<entry key="340" type="xstring" value="woman"/>
<entry key="341" type="xstring" value="happen"/>
<entry key="342" type="xstring" value="voter"/>
<entry key="343" type="xstring" value="north"/>
<entry key="344" type="xstring" value="midfielder"/>
<entry key="345" type="xstring" value="committee"/>
<entry key="346" type="xstring" value="consider"/>
<entry key="347" type="xstring" value="james"/>
<entry key="348" type="xstring" value="france"/>
<entry key="349" type="xstring" value="defense"/>
<entry key="350" type="xstring" value="delay"/>
<entry key="351" type="xstring" value="cia"/>
<entry key="352" type="xstring" value="federal"/>
<entry key="353" type="xstring" value="women"/>
<entry key="354" type="xstring" value="presidency"/>
<entry key="355" type="xstring" value="slam"/>
<entry key="356" type="xstring" value="west"/>
<entry key="357" type="xstring" value="professional"/>
<entry key="358" type="xstring" value="appearance"/>
<entry key="359" type="xstring" value="nominee"/>
<entry key="360" type="xstring" value="statement"/>
<entry key="361" type="xstring" value="coverage"/>
<entry key="362" type="xstring" value="semi-final"/>
<entry key="363" type="xstring" value="struggle"/>
<entry key="364" type="xstring" value="worker"/>
</config>
<config key="ExclList">
<entry key="array-size" type="xint" value="0"/>
</config>
<entry key="keep_all_columns_selected" type="xboolean" value="false"/>
</config>
<config key="removeColumns_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="removeColumns" type="xboolean" value="true"/>
<config key="failMissing_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="failMissing" type="xboolean" value="false"/>
<config key="output_dimensions_selected_Internals">
<entry key="SettingsModelID" type="xstring" value="SettingsModelChoiceIntDouble.modelTypeID"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<config key="output_dimensions_selected">
<entry key="choice" type="xboolean" value="false"/>
<entry key="doubleVal" type="xdouble" value="99.0"/>
<entry key="intVal" type="xint" value="2"/>
<config key="eigenvalues"/>
</config>
</config>
<config key="nodeAnnotation">
<entry key="text" type="xstring" value="Reduce the%%00010dims of feature%%00010space"/>
<entry key="bgcolor" type="xint" value="16777215"/>
<entry key="x-coordinate" type="xint" value="413"/>
<entry key="y-coordinate" type="xint" value="422"/>
<entry key="width" type="xint" value="106"/>
<entry key="height" type="xint" value="45"/>
<entry key="alignment" type="xstring" value="CENTER"/>
<entry key="borderSize" type="xint" value="0"/>
<entry key="borderColor" type="xint" value="16777215"/>
<entry key="defFontSize" type="xint" value="11"/>
<entry key="annotation-version" type="xint" value="20151123"/>
<config key="styles"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="IDLE"/>
<entry key="factory" type="xstring" value="org.knime.base.node.mine.pca.PCANodeFactory"/>
<entry key="node-name" type="xstring" value="PCA (deprecated)"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="4.1.2.v202003032313"/>
<entry key="node-feature-name" type="xstring" value="KNIME Core"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="4.1.2.v202003050920"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="PCA (deprecated)"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
